html,
body {
  height: 100%;
  width: 100%;
}
.container-fluid {
  background-color: #40C1FC;
  height: 100%;
  position: relative;
}
#main {
  background: url("../../i.JPG") no-repeat center #40C1FC;
  background-size: contain;
  /*background-size: 50%;*/
  height: 100%;
}
#main:hover {
  cursor: crosshair;
}
#count {
  background-color: white;
  border: 2px solid red;
  display: inline-block;
  padding: 10px;
  position: absolute;
}
.glyphicon {
  font-size: 10px;
}
.mark {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  width: 5px;
}
#next_log {
  background-color: white;
  border: 2px solid red;
  display: none;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 45%;
}
#next_log h5 {
  margin: 0;
}
#size {
  text-align: center;
  width: 45px;
}
#start {
  text-align: center;
  width: 50px;
}
.toggle {
  position: absolute;
  top: 0;
  right: 0;
}
#qty {
  font-size: 16px;
}
